---
layout: default
prism: true
path: property
---

<div class="mt-20 pb-5 mb-5 border-b border-gray-100 px-4">
    <h1 class="font-bold text-5xl">{{title}}</h1>
    <div class="flex justify-center my-2">
        <div class="addthis_inline_share_toolbox"></div>
    </div>
</div>

<div class="w-full">
    <div class="main-carousel detail" data-flickity='{ "fullscreen": true }'>
        {% if image_1_url %}
        <div class="carousel-cell">
          <img src="{{ image_1_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_2_url %}
        <div class="carousel-cell">
          <img src="{{ image_2_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_3_url %}
        <div class="carousel-cell">
          <img src="{{ image_3_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_4_url %}
        <div class="carousel-cell">
          <img src="{{ image_4_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_5_url %}
        <div class="carousel-cell">
          <img src="{{ image_5_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_6_url %}
        <div class="carousel-cell">
          <img src="{{ image_6_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
        {% if image_7_url %}
        <div class="carousel-cell">
          <img src="{{ image_7_url }}" alt="{{settings.site_name}} - Good property investment in Bali" />
        </div>
        {% endif %}
    </div>
</div>
<div class="container mt-6 px-6 mx-auto">
    <div class="flex flex-col lg:flex-row">
        <div class="my-4 w-full lg:w-2/3">
            <article class="lg:prose-xl lg:px-20">
                {{ content | safe }}
            </article>
            <h3 class="mt-6 mb-2 lg:px-20">Property Location</h3>
            <div class="lg:px-20">
                <div class="fluid-iframe">
                    {{ maps | safe }}
                </div>
            </div>
        </div>
        <div class="w-full my-4 lg:w-1/3 relative" id="contact-us">
            <div class="rounded shadow-lg border border-darkblue-600 relative lg:sticky lg:top-10">
                <h3 class="bg-gradient-to-r from-darkblue-500 to-darkblue-800 text-white text-2xl font-bold p-4">Get in touch!</h3>
                <form data-netlify="true" method="POST" name="contact-form" class="flex flex-col p-4">
                    <input type="hidden" name="subject" value="Property Inquiry for {{title}}" />
                    <span class="my-2">Contact the agency</span>
                    <div class="my-2 flex flex-col">
                        <label class="font-bold"><small>Message</small></label>
                        <textarea name="message" class="py-1 px-2 rounded border border-darkblue-200">Hi, I'm interested in this property {{ title }}</textarea>
                    </div>
                    <div class="my-2 flex flex-col">
                        <label class="my-2 font-bold"><small>Salutation</small></label>
                        <div class="flex justify-around items-center">
                            <label>
                                <input class="mx-2" type="radio" value="Mr." name="salutation"> Mr.
                            </label>
                            <label>
                                <input class="mx-2" type="radio" value="Mrs." name="salutation"> Mrs.
                            </label>
                            <label>
                                <input class="mx-2" type="radio" value="Ms." name="salutation"> Ms.
                            </label>
                        </div>
                    </div>
                    <div class="my-2 flex flex-col">
                        <label class="my-2 font-bold"><small>Your Name</small></label>
                        <input class="py-1 px-2 rounded border border-darkblue-200" placeholder="Your name" type="text" name="name">
                    </div>
                    <div class="my-2 flex flex-col">
                        <label class="my-2 font-bold"><small>Your Email</small></label>
                        <input class="py-1 px-2 rounded border border-darkblue-200" placeholder="Your email" type="email" name="email">
                    </div>
                    <div class="flex my-2">
                        <div class="flex flex-col w-1/2" style="margin-right:2px">
                            <label class="font-bold"><small>Country Code</small></label>
                            <select class="py-1 px-2 rounded border border-darkblue-200" id="phone-code" name="phone_code"></select>
                        </div>
                        <div class="flex flex-col w-1/2" style="margin-left:2px">
                            <label class="font-bold"><small>Phone</small></label>
                            <input class="py-1 px-2 rounded border border-darkblue-200" placeholder="Your phone number" type="text" name="phone">
                        </div>
                    </div>
                    <div data-netlify-recaptcha="true"></div>
                    <button type="submit" class="my-2 py-2 px-2 rounded bg-gold-500 text-white border border-gold-500 hover:text-gold-500 hover:bg-gold-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>