@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

article ul {
  padding-left: 20px;
}

article ul li {
  list-style: disc;
}


.fluid-iframe { 
  position: relative; 
  padding-bottom: 56.25%; 
  padding-top: 30px; 
  height: 0; 
  overflow: hidden; 
}
.fluid-iframe > iframe { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

@media (min-width: 640px) {
  .detail .carousel-cell {
    height:250px;
  }
  .detail .carousel-cell img {
    height:250px;
    display: block;
  }
  .home-crsl {
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .home-crsl {
    height: 720px;
  }
  .detail .carousel-cell {
    height:400px;
  }
  .detail .carousel-cell img {
    height:400px;
    display: block;
  }
  .detail.is-fullscreen .carousel-cell img {
    height:100vh;
    position: absolute;
    top: 25%;
  }
  .is-fullscreen img {
    height: 100vh;
  }
}

/*.carousel.is-fullscreen .carousel-cell {
  height: 100vh;
}*/

.carousel {
  background: #222;
}

.is-fullscreen .carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.is-fullscreen .carousel-cell-image {
  display: block;
  max-height: 100%;
}

.carousel.is-fullscreen .carousel-cell-image {
  max-width: 100%;
}


.flickity-button {
    background: #fff;
    cursor: pointer;
}

