---
layout: home
title: Ilot Invest Bali
path: home
---

<section class="mt-15">
    <div class="lg:grid grid-cols-3 gap-8">
    {% set postslist = collections.property %}

    {% for post in postslist | reverse %}
        <article class="shadow-xl border-l border-b border-r my-4">
            {% if post.data.image_1_url %}
            <img src="{{ post.data.image_1_url }}" class="w-full rounded-t">
            {% endif %}
            <div class="p-4 rounded-b">
                <h2 class="font-bold text-3xl text-gray-900 mb-2">
                    <a href="{{ post.url | url }}" class="hover:text-darkblue-700">
                        {% if post.data.title %}
                            {{ post.data.title }}
                        {% else %}
                            Untitled
                        {% endif %}
                    </a>
                </h2>
                <!-- <p class="text-base leading-6 text-gray-500 mb-3">
                    <time>
                        {{ post.date | readableDate }}
                        by
                        <a>{{ post.data.author }}</a>

                    </time>
                </p> -->
                {% if post.data.description %}
                    <p class="text-lg text-gray-500 mb-3">
                        {{ post.data.description }}
                    </p>
                {% endif %}

                <p>
                    <a href="{{ post.url | url }}" class="text-gold-500 hover:text-gold-700 font-bold text-lg">
                        Read more →
                    </a>
                </p>
            </div>
        </article>
    {% endfor %}
    </div>
</section>